{% if post.comments %}
<div id="comment-list" class="comment-list">
  <h3 class="block-title comment-title">
    {% if post.comment_count > 1 %}
      {{ post.comment_count }} {{ pll_e('Responses') }}
    {% else %}
      {{ post.comment_count }} {{ pll_e('Response') }}
    {% endif %}
  </h3>
  {% for comment in post.comments %}
    {% include 'comment-item.twig' with {'comment': comment, 'default_avatar': default_avatar} only %}
  {% endfor %}
</div>
{% endif %}